body {
    background: black;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
    color: #17D4FE;
    text-align: center;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#display {
    display: none;
}

.action {
    color: #fe9617;
}

.finish {
    color: red;
}

.done {
    color: #17ff59;
}

#surrenderButton {
    color: red;
}

#record {
    display: none;
    color: #17ff59;
}

#tries {
    display: none;
    color: white;
    font-size: 20px;
    letter-spacing: 5px;
}

#pedestalButton {
    position: fixed;
    right: 1%;
    top: 1%;
    background-image: url("../img/pedestal.svg");
    background-size: cover;
    fill: white;
    height: 50px;
    width: 50px;
}